[Unit]
Description=Konk coordinator service.

[Service]
Type=simple
ExecStart=/usr/bin/konk --config /etc/konk.yaml --log /var/log/konk-coordinator.log coordinator -vvvv
KillMode=control-group

[Install]