[Unit]
Description=Konk node local daemon service.

[Service]
Type=simple
ExecStart=/usr/bin/konk --config /etc/konk.yaml --log /var/log/konk-nymph.log nymph -vvvvv
KillMode=control-group

[Install]
WantedBy=multi-user.target